{% extends "base.html" %}

{% block libs %}
{{ super() }}
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
{% endblock %}


{% block content %}
{{ super() }}
<div class="mac-content-container">
    <div class="mac-content-block">
      <span class="mac-content-label">本文总阅读量:</span>
      <span id="busuanzi_value_page_pv"></span>次
    </div>
{% endblock %}


