/* Admonition for python tutor */
.md-typeset .admonition.pythontutor,
.md-typeset details.pythontutor {
  border-color: var(--md-default-fg-color--lightest);
  margin-top: 0;
  margin-bottom: 1.5625em;
}

.md-typeset .admonition:focus-within,
.md-typeset details:focus-within {
  box-shadow: var(--md-shadow-z1);
}

.md-typeset .pythontutor > .admonition-title,
.md-typeset .pythontutor > summary {
  background-color: var(--md-code-bg-color);
}
.md-typeset .pythontutor > .admonition-title::before,
.md-typeset .pythontutor > summary::before {
  background-color: rgb(55, 118, 171);
  -webkit-mask-image: var(--md-admonition-icon--pythontutor);
  mask-image: var(--md-admonition-icon--pythontutor);
}

.md-typeset .admonition-title:before,
.md-typeset summary:before {
  width: 1.25em;
}

/* block content */
.mac-content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: black;
}
  
.mac-content-block {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
}

.mac-content-label {
    font-weight: bold;
    color: #000;
    flex: 1;
}

.mac-content-value {
    color: #000;
    flex: 1;
}

/* custom admonition*/

:root {
    --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3 .8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2 .6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7 .8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"/></svg>')
  }
  .md-typeset .admonition.code,
  .md-typeset details.code {
    border-color: rgb(38, 59, 198);
  }
  .md-typeset .code > .admonition-title,
  .md-typeset .code > summary {
    background-color: rgba(211, 235, 217, 0.1);
  }
  .md-typeset .code > .admonition-title::before,
  .md-typeset .code > summary::before {
    background-color: rgb(38, 59, 198);
    -webkit-mask-image: var(--md-admonition-icon--code);
            mask-image: var(--md-admonition-icon--code);
  }

  :root {
    --md-admonition-icon--important: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M176 432c0 44.1-35.9 80-80 80s-80-35.9-80-80 35.9-80 80-80 80 35.9 80 80zM25.3 25.2l13.6 272C39.5 310 50 320 62.8 320h66.3c12.8 0 23.3-10 24-22.8l13.6-272C167.4 11.5 156.5 0 142.8 0H49.2C35.5 0 24.6 11.5 25.3 25.2z"/></svg>')
  }
  .md-typeset .admonition.important,
  .md-typeset details.important {
    border-color: rgb(27, 192, 40);
  }
  .md-typeset .important > .admonition-title,
  .md-typeset .important > summary {
    background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .important > .admonition-title::before,
  .md-typeset .important > summary::before {
    background-color: rgb(27, 192, 40);
    -webkit-mask-image: var(--md-admonition-icon--important);
            mask-image: var(--md-admonition-icon--important);
  }

  :root {
    --md-admonition-icon--think: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M184 0c30.9 0 56 25.1 56 56V456c0 30.9-25.1 56-56 56c-28.9 0-52.7-21.9-55.7-50.1c-5.2 1.4-10.7 2.1-16.3 2.1c-35.3 0-64-28.7-64-64c0-7.4 1.3-14.6 3.6-21.2C21.4 367.4 0 338.2 0 304c0-31.9 18.7-59.5 45.8-72.3C37.1 220.8 32 207 32 192c0-30.7 21.6-56.3 50.4-62.6C80.8 123.9 80 118 80 112c0-29.9 20.6-55.1 48.3-62.1C131.3 21.9 155.1 0 184 0zM328 0c28.9 0 52.6 21.9 55.7 49.9c27.8 7 48.3 32.1 48.3 62.1c0 6-.8 11.9-2.4 17.4c28.8 6.2 50.4 31.9 50.4 62.6c0 15-5.1 28.8-13.8 39.7C493.3 244.5 512 272.1 512 304c0 34.2-21.4 63.4-51.6 74.8c2.3 6.6 3.6 13.8 3.6 21.2c0 35.3-28.7 64-64 64c-5.6 0-11.1-.7-16.3-2.1c-3 28.2-26.8 50.1-55.7 50.1c-30.9 0-56-25.1-56-56V56c0-30.9 25.1-56 56-56z"/></svg>')
  }
  .md-typeset .admonition.think,
  .md-typeset details.think {
    border-color: rgb(234, 234, 116);
  }
  .md-typeset .think > .admonition-title,
  .md-typeset .think > summary {
    background-color: rgba(227, 240, 174, 0.1);
  }
  .md-typeset .think > .admonition-title::before,
  .md-typeset .think > summary::before {
    background-color: rgb(203, 203, 99);
    -webkit-mask-image: var(--md-admonition-icon--think);
            mask-image: var(--md-admonition-icon--think);
  }