/* Admonition for python tutor */
.md-typeset .admonition.pythontutor,
.md-typeset details.pythontutor {
  border-color: var(--md-default-fg-color--lightest);
  margin-top: 0;
  margin-bottom: 1.5625em;
}

.md-typeset .admonition:focus-within,
.md-typeset details:focus-within {
  box-shadow: var(--md-shadow-z1);
}

.md-typeset .pythontutor > .admonition-title,
.md-typeset .pythontutor > summary {
  background-color: var(--md-code-bg-color);
}
.md-typeset .pythontutor > .admonition-title::before,
.md-typeset .pythontutor > summary::before {
  background-color: rgb(55, 118, 171);
  -webkit-mask-image: var(--md-admonition-icon--pythontutor);
  mask-image: var(--md-admonition-icon--pythontutor);
}

.md-typeset .admonition-title:before,
.md-typeset summary:before {
  width: 1.25em;
}

/* block content */
.mac-content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: black;
}
  
.mac-content-block {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
}

.mac-content-label {
    font-weight: bold;
    color: #000;
    flex: 1;
}

.mac-content-value {
    color: #000;
    flex: 1;
}