<div id="__comments">
    <!-- Giscus -->
</div>
<script src="https://giscus.app/client.js"
        data-repo="enlzhao/DSG"
        data-repo-id="R_kgDOI2exGA"
        data-category="Announcements"
        data-category-id="DIC_kwDOI2exGM4CT6Lt"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme: light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>