<div id="__comments">
    <!-- 主题颜色 
    <div class="mdx-switch">
        <button data-md-color-scheme="default"><code>default</code></button>
        <button data-md-color-scheme="slate"><code>slate</code></button>
      </div>

    <script>
        var buttons = document.querySelectorAll("button[data-md-color-scheme]")
        buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                var attr = this.getAttribute("data-md-color-scheme")
                document.body.setAttribute("data-md-color-scheme", attr)
                localStorage.setItem("data-md-color-scheme", attr);
                updateScheme();
            })
        })
    </script>
<div class="mdx-switch">
    <button data-md-color-primary="red" style="background-color:red"><code>red</code></button>
    <button data-md-color-primary="pink" style="background-color: pink"><code>pink</code></button>
    <button data-md-color-primary="purple" style="background-color: purple"><code>purple</code></button>
    <button data-md-color-primary="deep-purple" style="background-color: rgb(51, 1, 63)"><code>deep purple</code></button>
    <button data-md-color-primary="indigo" style="background-color: indigo"><code>indigo</code></button>
    <button data-md-color-primary="blue" style="background-color: blue"><code>blue</code></button>
    <button data-md-color-primary="light-blue" style="background-color: lightblue"><code>light blue</code></button>
    <button data-md-color-primary="cyan" style="background-color: cyan"><code>cyan</code></button>
    <button data-md-color-primary="teal" style="background-color: teal"><code>teal</code></button>
    <button data-md-color-primary="green" style="background-color: green"><code>green</code></button>
    <button data-md-color-primary="light-green" style="background-color: lightgreen"><code>light green</code></button>
    <button data-md-color-primary="lime" style="background-color: lime"><code>lime</code></button>
    <button data-md-color-primary="yellow" style="background-color: yellow"><code>yellow</code></button>
    <button data-md-color-primary="orange" style="background-color: orange"><code>orange</code></button>
    <button data-md-color-primary="deep-orange" style="background-color: rgb(221, 110, 15)"><code>deep orange</code></button>
    <button data-md-color-primary="brown" style="background-color: brown"><code>brown</code></button>
    <button data-md-color-primary="grey" style="background-color: grey"><code>grey</code></button>
    <button data-md-color-primary="blue-grey" style="background-color: rgb(106,90,205)"><code>blue grey</code></button>
    <button data-md-color-primary="black" style="background-color: black"><code>black</code></button>
    <button data-md-color-primary="white" style="background-color: white"><code>white</code></button>
  </div>
    <script>
        var buttons = document.querySelectorAll("button[data-md-color-primary]")
        buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                var attr = this.getAttribute("data-md-color-primary")
                document.body.setAttribute("data-md-color-primary", attr)
                localStorage.setItem("data-md-color-primary", attr);
            })
        })
    </script>
    -->
    <!-- Giscus -->
</div>
<script src="https://giscus.app/client.js" data-repo="enl-z/DSG" data-repo-id="R_kgDOI2exGA" data-category="Q&A"
    data-category-id="DIC_kwDOI2exGM4CT6Lv" data-mapping="url" data-strict="0" data-reactions-enabled="1"
    data-emit-metadata="0" data-input-position="top" data-theme="preferred_color_scheme" data-lang="zh-CN"
    crossorigin="anonymous" async>
        updateScheme();
    </script>